@import './Scss\ gobaux.scss';

.find {
    background-color: #C3CFE2;
    padding: 50px 60px 60px;
    margin: auto;

    h1{
        color: #1F2937;
    }

    p{
        color: #4B5563;
        width: 598px;
        align-items: center;
        padding-left: 200px;
    }
}